
.App {
  background: url('./bg4.jpeg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.Navbar {
  z-index: 1; 
 
}


main {
  flex: 1; 
  padding: 20px; 
}

.social-icons {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 1rem;
}

.social-icons a {
  color: white; 
  font-size: 1.5rem; 
  transition: color 0.3s ease-in-out;
  position: relative;
}

.social-icons a:hover {
  color: #ef476f; 
}
